/* App클래스를 사용하는 요소들 모두*/
.App { 
  background-color: #222222;
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* 폰트 추가 */
@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url('fonts/VCR_OSD_MONO.ttf') format(truetype
  );
}

/* App 클래스 안에 들어가는 텍스트*/
.AppText {
  font-family: 'VCR_OSD_MONO', sans-serif;
  user-select: none; /* 드래그 방지 */
  -webkit-user-select: none; /* Safari 드래그 방지 */
  -moz-user-select: none; /* Firefox 드래그 방지 */
  -ms-user-select: none; /* Internet Explorer/Edge 드래그  방지 */
  cursor: pointer; /* 마우스 커서를 포인터(손가락)로 변경*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
